{% extends "layout.html"%} {% block title%} delete game {% endblock %} {%
block main %}


<form action="#" method="POST">
    <!-- <div class="mb-3">
        <select name='type' class="form-select" aria-label="Default select ">
            <option value='' selected>Select Type</option>
            <option value="minimun">Minimun</option>
            <option value="maximum">Maximum</option>
        </select>
    </div> -->


    <div class="mb-3">
        <label for="os" class="form-label">Relase Date</label>
        <input type="date" class="form-control" name='releaseDate' id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="cpu" class="form-label">Download Link</label>
        <input type="text" name="downloadLink" class="form-control">
    </div>
    <div class="mb-3">
        <label for="memory" class="form-label">Rating</label>
        <input type="number" name="rating" class="form-control">
    </div>
    <div class="mb-3">

        <label for="gpu" class="form-label">Genres</label>
        <br>
        {% for genre in context['genres'] %}
        <input type="checkbox" name="{{genre[0]}}" value="Bike">
        <label for="vehicle1">{{genre[1]}}</label><br>
        {%endfor%}
    </div>
    <button type="submit" class="btn btn-primary">Add Details</button>
</form>

{% endblock %}