{% extends "layout.html"%} {% block title%} delete game {% endblock %} {%
block main %}

<div class="container">
    <form action="#" method="POST">
        <div class="mb-3">
            <h1>Minimun Requirements</h1>
        </div>
        <div class="mb-3">
            <label for="os" class="form-label">OS</label>
            <input type="text" class="form-control" name='min_os' id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="cpu" class="form-label">CPU</label>
            <input type="text" name="min_cpu" class="form-control">
        </div>
        <div class="mb-3">
            <label for="memory" class="form-label">Memory</label>
            <input type="text" name="min_memory" class="form-control">
        </div>
        <div class="mb-3">
            <label for="gpu" class="form-label">GPU</label>
            <input type="text" name="min_gpu" class="form-control">
        </div>
        <div class="mb-3">
            <h1>Recommended Requirements</h1>
        </div>
        <div class="mb-3">
            <label for="os" class="form-label">OS</label>
            <input type="text" class="form-control" name='max_os' id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="cpu" class="form-label">CPU</label>
            <input type="text" name="max_cpu" class="form-control">
        </div>
        <div class="mb-3">
            <label for="memory" class="form-label">Memory</label>
            <input type="text" name="max_memory" class="form-control">
        </div>
        <div class="mb-3">
            <label for="gpu" class="form-label">GPU</label>
            <input type="text" name="max_gpu" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add-Requirements</button>
    </form>
</div>

{% endblock %}