{% extends "layout.html"%} {% block title%} main {% endblock %} {%
block main %}


<div class="container text-center">
    <h1 class="text-center mb-5">FAVORITES</h1>
    <div class="row">
        {% for game in context['data'] -%}

        <div class="col-4 game-browser">
            <a href="/game/{{game[0]}}"><img class='game-img' src="data:image/jpeg;base64, {{game[3]}}" alt=" Red dot">
                <h3> {{game[1].upper()}} </h3>
            </a>
            <form method='post' action='/remove-fav/{{game[0]}}' class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-warning" type="submit">Remove</button>
            </form>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock -%}