{% extends "layout.html"%} {% block title%} delete game {% endblock %} {%
block main %}

<div class="container m-5">
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" name='username' id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm password</label>
            <input type="password" name="password2" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{% endblock %}